.dashboard-container {
    padding: 20px;
    background-color: lightgray;
    opacity: 1;
    min-height: 800px;
  }

.dashboard-container-clicked {
  padding: 20px;
  background-color: lightgray;
  opacity: 0.5;
  min-height: 800px;
}
  
  .addReminderBtn {
    background-color: #0d99ff;
    color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
  }
  
  .addReminderBtn:hover {
    background-color: #0daaff;
  }

  .outer-container {
    background-color: black;
  }